<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HlslUnit" version="0.2.0" targetFramework="net45" />
  <package id="MSBuildTasks" version="1.4.0.88" targetFramework="net452" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="OneClickBuild" version="1.3.4.0" targetFramework="net452" />
  <package id="SharpDX" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Direct3D11" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Toolkit" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Toolkit.Game" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Toolkit.Graphics" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Toolkit.Input" version="2.6.3" targetFramework="net45" />
  <package id="SlimShader" version="0.2.0" targetFramework="net45" />
  <package id="SlimShader.VirtualMachine" version="0.2.0" targetFramework="net45" />
</packages>